IBM/SPSS/Statistics/21/viewer-style-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- IBM SPSS Products: Statistics Common                              -->
<!--                                                                   -->
<!-- (C) Copyright IBM Corp. 1989, 2011                                -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with IBM       -->
<!-- Corp.                                                             -->
<!--                                                                   -->
<!-- ***************************************************************** -->


<xs:schema targetNamespace="http://xml.spss.com/spss/viewer/viewer-style" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:vst="http://xml.spss.com/spss/viewer/viewer-style" 
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xs:annotation>
    <xs:documentation xml:lang="en">Copyright 2006 SPSS Inc - All Rights Reserved.  SPSS specifically disclaims all warranties with respect to your use of this specification, expressed, implied, or otherwise, including without limitation, all warranties of merchantability and fitness for a particular purpose.  SPSS shall not be liable for any special, incidental, or consequential damages, including without limitation lost revenues or lost profits resulting from the use of the information herein.</xs:documentation>
  </xs:annotation>

  <!-- Accessibility Properties -->
  <xs:attributeGroup name="accessibility-properties">
    <xs:attribute name="source-document"/>
    <xs:attribute name="role"/>
  </xs:attributeGroup>

  <!-- Relative Position Properties -->
  <!-- 'position' shorthand property also makes part of this group -->
  <xs:attributeGroup name="relative-position-properties">
    <xs:attribute name="relative-position">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="static"/>
          <xs:enumeration value="relative"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="position">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="static"/>
          <xs:enumeration value="relative"/>
          <xs:enumeration value="absolute"/>
          <xs:enumeration value="fixed"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="top"/>
    <xs:attribute name="right"/>
    <xs:attribute name="bottom"/>
    <xs:attribute name="left"/>
  </xs:attributeGroup>
  
  <!-- Absolute or Relative Position Properties -->
  <!-- There is no object that can be positioned only absolutely. -->
  <!-- Therefore, absolute and relative positioning properties are -->
  <!-- grouped together -->
  <xs:attributeGroup name="absolute-or-relative-position-properties">
    <xs:attribute name="absolute-position">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="absolute"/>
          <xs:enumeration value="fixed"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="vst:relative-position-properties"/>
  </xs:attributeGroup>

  <!-- Aural Properties -->
  <!-- 'cue' and 'pause' shorthand properties are also included -->
  <xs:attributeGroup name="aural-properties">
    <xs:attribute name="azimuth"/>
    <xs:attribute name="cue"/>
    <xs:attribute name="cue-after"/>
    <xs:attribute name="cue-before"/>
    <xs:attribute name="elevation"/>
    <xs:attribute name="pause"/>
    <xs:attribute name="pause-after"/>
    <xs:attribute name="pause-before"/>
    <xs:attribute name="pitch"/>
    <xs:attribute name="pitch-range"/>
    <xs:attribute name="play-during"/>
    <xs:attribute name="richness"/>
    <xs:attribute name="speak">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="spell-out"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="speak-header">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="once"/>
          <xs:enumeration value="always"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="speak-numeral">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="digits"/>
          <xs:enumeration value="continuous"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="speak-punctuation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="code"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="speech-rate"/>
    <xs:attribute name="stress"/>
    <xs:attribute name="voice-family"/>
    <xs:attribute name="volume"/>
  </xs:attributeGroup>

  <!-- Common Border, Padding, and Background Properties -->
  <!-- Relative shorthand properties are also included -->
  <xs:attributeGroup name="border-padding-background-properties">
    <xs:attribute name="background"/>
    <xs:attribute name="background-attachment">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="scroll"/>
          <xs:enumeration value="fixed"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="background-color"/>
    <xs:attribute name="background-image"/>
    <xs:attribute name="background-position"/>
    <xs:attribute name="background-position-vertical"/>
    <xs:attribute name="background-position-horizontal"/>
    <xs:attribute name="background-repeat">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="repeat"/>
          <xs:enumeration value="repeat-x"/>
          <xs:enumeration value="repeat-y"/>
          <xs:enumeration value="no-repeat"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border"/>
    <xs:attribute name="border-after-color"/>
    <xs:attribute name="border-after-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-after-width"/>
    <xs:attribute name="border-after-width.length"/>
    <xs:attribute name="border-after-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-before-color"/>
    <xs:attribute name="border-before-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-before-width"/>
    <xs:attribute name="border-before-width.length"/>
    <xs:attribute name="border-before-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-bottom"/>
    <xs:attribute name="border-bottom-color"/>
    <xs:attribute name="border-bottom-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-bottom-width"/>
    <xs:attribute name="border-bottom-width.length"/>
    <xs:attribute name="border-bottom-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-color"/>
    <xs:attribute name="border-end-color"/>
    <xs:attribute name="border-end-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-end-width"/>
    <xs:attribute name="border-end-width.length"/>
    <xs:attribute name="border-end-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-left"/>
    <xs:attribute name="border-left-color"/>
    <xs:attribute name="border-left-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-left-width"/>
    <xs:attribute name="border-left-width.length"/>
    <xs:attribute name="border-left-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-right"/>
    <xs:attribute name="border-right-color"/>
    <xs:attribute name="border-right-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-right-width"/>
    <xs:attribute name="border-right-width.length"/>
    <xs:attribute name="border-right-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-start-color"/>
    <xs:attribute name="border-start-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-start-width"/>
    <xs:attribute name="border-start-width.length"/>
    <xs:attribute name="border-start-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-style"/>
    <xs:attribute name="border-top"/>
    <xs:attribute name="border-top-color"/>
    <xs:attribute name="border-top-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inset"/>
          <xs:enumeration value="outset"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-top-width"/>
    <xs:attribute name="border-top-width.length"/>
    <xs:attribute name="border-top-width.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-width"/>
    <xs:attribute name="padding"/>
    <xs:attribute name="padding-after"/>
    <xs:attribute name="padding-after.length"/>
    <xs:attribute name="padding-after.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-before"/>
    <xs:attribute name="padding-before.length"/>
    <xs:attribute name="padding-before.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-bottom"/>
    <xs:attribute name="padding-bottom.length"/>
    <xs:attribute name="padding-bottom.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-end"/>
    <xs:attribute name="padding-end.length"/>
    <xs:attribute name="padding-end.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-left"/>
    <xs:attribute name="padding-left.length"/>
    <xs:attribute name="padding-left.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-right"/>
    <xs:attribute name="padding-right.length"/>
    <xs:attribute name="padding-right.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-start"/>
    <xs:attribute name="padding-start.length"/>
    <xs:attribute name="padding-start.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding-top"/>
    <xs:attribute name="padding-top.length"/>
    <xs:attribute name="padding-top.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discard"/>
          <xs:enumeration value="retain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Border Precedence Properties for tables -->
  <xs:attributeGroup name="border-precedence-properties">
    <xs:attribute name="border-after-precedence"/>
    <xs:attribute name="border-before-precedence"/>
    <xs:attribute name="border-end-precedence"/>
    <xs:attribute name="border-start-precedence"/>
  </xs:attributeGroup>

  <!-- Box Size Properties -->
  <xs:attributeGroup name="box-size-properties">
    <xs:attribute name="height"/>
    <xs:attribute name="min-height"/>
    <xs:attribute name="max-height"/>
    <xs:attribute name="width"/>
    <xs:attribute name="min-width"/>
    <xs:attribute name="max-width"/>
    <xs:attribute name="inline-progression-dimension"/>
    <xs:attribute name="inline-progression-dimension.minimum"/>
    <xs:attribute name="inline-progression-dimension.optimum"/>
    <xs:attribute name="inline-progression-dimension.maximum"/>
    <xs:attribute name="block-progression-dimension"/>
    <xs:attribute name="block-progression-dimension.minimum"/>
    <xs:attribute name="block-progression-dimension.optimum"/>
    <xs:attribute name="block-progression-dimension.maximum"/>
  </xs:attributeGroup>

  <!-- Common Area Properties -->
  <xs:attributeGroup name="area-properties">
    <xs:attribute name="clip"/>
    <xs:attribute name="overflow">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="visible"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="scroll"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="error-if-overflow"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="display-align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="reference-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
          <xs:enumeration value="-90"/>
          <xs:enumeration value="-180"/>
          <xs:enumeration value="-270"/>
          <xs:enumeration value="0deg"/>
          <xs:enumeration value="90deg"/>
          <xs:enumeration value="180deg"/>
          <xs:enumeration value="270deg"/>
          <xs:enumeration value="-90deg"/>
          <xs:enumeration value="-180deg"/>
          <xs:enumeration value="-270deg"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="writing-mode">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lr-tb"/>
          <xs:enumeration value="rl-tb"/>
          <xs:enumeration value="tb-rl"/>
          <xs:enumeration value="lr"/>
          <xs:enumeration value="rl"/>
          <xs:enumeration value="tb"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Common Font Properties -->
  <!-- 'font' shorthand property is also included -->
  <xs:attributeGroup name="font-properties">
    <xs:attribute name="font"/>
    <xs:attribute name="font-selection-strategy">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="character-by-character"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="font-family"/>
    <xs:attribute name="font-size"/>
    <xs:attribute name="font-size-adjust"/>
    <xs:attribute name="font-stretch">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="wider"/>
          <xs:enumeration value="narrower"/>
          <xs:enumeration value="ultra-condensed"/>
          <xs:enumeration value="extra-condensed"/>
          <xs:enumeration value="condensed"/>
          <xs:enumeration value="semi-condensed"/>
          <xs:enumeration value="semi-expanded"/>
          <xs:enumeration value="expanded"/>
          <xs:enumeration value="extra-expanded"/>
          <xs:enumeration value="ultra-expanded"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="font-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
          <xs:enumeration value="oblique"/>
          <xs:enumeration value="backslant"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="font-variant">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="small-caps"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="font-weight">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="inherit"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Common Hyphenation Properties - Inline -->
  <xs:attributeGroup name="hyphenation-properties-inline">
    <xs:attribute name="country"/>
    <xs:attribute name="language"/>
    <xs:attribute name="script"/>
    <xs:attribute name="hyphenate">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="false"/>
          <xs:enumeration value="true"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="hyphenation-character"/>
    <xs:attribute name="hyphenation-push-character-count"/>
    <xs:attribute name="hyphenation-remain-character-count"/>
  </xs:attributeGroup>

  <!-- Common Hyphenation Properties - Block -->
  <xs:attributeGroup name="hyphenation-properties-block">
    <xs:attribute name="hyphenation-keep">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="hyphenation-ladder-count"/>
    <xs:attributeGroup ref="vst:hyphenation-properties-inline"/>
  </xs:attributeGroup>

  <!-- Common CSS Margin Properties -->
  <!-- 'margin' shorthand property is also included -->
  <xs:attributeGroup name="margin-properties-CSS">
    <xs:attribute name="margin"/>
    <xs:attribute name="margin-bottom"/>
    <xs:attribute name="margin-left"/>
    <xs:attribute name="margin-right"/>
    <xs:attribute name="margin-top"/>
  </xs:attributeGroup>

  <!-- Common Margin Properties - Block -->
  <xs:attributeGroup name="margin-properties-block">
    <xs:attributeGroup ref="vst:margin-properties-CSS"/>
    <xs:attribute name="space-after"/>
    <xs:attribute name="space-after.minimum"/>
    <xs:attribute name="space-after.optimum"/>
    <xs:attribute name="space-after.maximum"/>
    <xs:attribute name="space-after.precedence"/>
    <xs:attribute name="space-after.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="space-before"/>
    <xs:attribute name="space-before.minimum"/>
    <xs:attribute name="space-before.optimum"/>
    <xs:attribute name="space-before.maximum"/>
    <xs:attribute name="space-before.precedence"/>
    <xs:attribute name="space-before.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="start-indent"/>
    <xs:attribute name="end-indent"/>
  </xs:attributeGroup>

  <!-- Common Margin Properties - Inline -->
  <xs:attributeGroup name="margin-properties-inline">
    <xs:attributeGroup ref="vst:margin-properties-block"/>
    <xs:attribute name="space-start"/>
    <xs:attribute name="space-start.minimum"/>
    <xs:attribute name="space-start.optimum"/>
    <xs:attribute name="space-start.maximum"/>
    <xs:attribute name="space-start.precedence"/>
    <xs:attribute name="space-start.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="space-end"/>
    <xs:attribute name="space-end.minimum"/>
    <xs:attribute name="space-end.optimum"/>
    <xs:attribute name="space-end.maximum"/>
    <xs:attribute name="space-end.precedence"/>
    <xs:attribute name="space-end.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Area Alignment Properties - inline -->
  <!-- 'vertical-align' shorthand is added -->
  <xs:attributeGroup name="area-alignment-properties-inline">
    <xs:attribute name="alignment-adjust"/>
    <xs:attribute name="alignment-baseline">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="baseline"/>
          <xs:enumeration value="before-edge"/>
          <xs:enumeration value="text-before-edge"/>
          <xs:enumeration value="middle"/>
          <xs:enumeration value="central"/>
          <xs:enumeration value="after-edge"/>
          <xs:enumeration value="text-after-edge"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="text-top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="text-bottom"/>
          <xs:enumeration value="ideographic"/>
          <xs:enumeration value="alphabetic"/>
          <xs:enumeration value="hanging"/>
          <xs:enumeration value="mathematical"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="baseline-shift"/>
    <xs:attribute name="dominant-baseline">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="use-script"/>
          <xs:enumeration value="no-change"/>
          <xs:enumeration value="reset-size"/>
          <xs:enumeration value="ideographic"/>
          <xs:enumeration value="alphabetic"/>
          <xs:enumeration value="hanging"/>
          <xs:enumeration value="mathematical"/>
          <xs:enumeration value="central"/>
          <xs:enumeration value="middle"/>
          <xs:enumeration value="text-after-edge"/>
          <xs:enumeration value="text-before-edge"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vertical-align"/>
  </xs:attributeGroup>

  <!-- Line Height Properties -->
  <xs:attributeGroup name="line-height-properties">
    <xs:attribute name="line-height"/>
    <xs:attribute name="line-height.minimum"/>
    <xs:attribute name="line-height.optimum"/>
    <xs:attribute name="line-height.maximum"/>
    <xs:attribute name="line-height.precedence"/>
    <xs:attribute name="line-height.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="line-height-shift-adjustment"/>
  </xs:attributeGroup>

  <!-- Line Related Properties -->
  <!-- [!] <string> values are temporarily excluded from text-align -->
  <xs:attributeGroup name="line-related-properties">
    <xs:attribute name="text-align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text-align-last">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="relative"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text-indent"/>
    <xs:attribute name="last-line-end-indent"/>
    <xs:attribute name="line-stacking-strategy">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="line-height"/>
          <xs:enumeration value="font-height"/>
          <xs:enumeration value="max-height"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="linefeed-treatment">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ignore"/>
          <xs:enumeration value="preserve"/>
          <xs:enumeration value="treat-as-space"/>
          <xs:enumeration value="treat-as-zero-width-space"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="white-space">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="pre"/>
          <xs:enumeration value="nowrap"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="white-space-treatment">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ignore"/>
          <xs:enumeration value="preserve"/>
          <xs:enumeration value="ignore-if-before-linefeed"/>
          <xs:enumeration value="ignore-if-after-linefeed"/>
          <xs:enumeration value="ignore-if-surrounding-linefeed"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="white-space-collapse">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="false"/>
          <xs:enumeration value="true"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="wrap-option">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="no-wrap"/>
          <xs:enumeration value="wrap"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="unicode-bidi">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="embed"/>
          <xs:enumeration value="bidi-override"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="direction">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ltr"/>
          <xs:enumeration value="rtl"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Character Properties -->
  <xs:attributeGroup name="character-properties">
    <xs:attribute name="letter-spacing"/>
    <xs:attribute name="letter-spacing.minimum"/>
    <xs:attribute name="letter-spacing.optimum"/>
    <xs:attribute name="letter-spacing.maximum"/>
    <xs:attribute name="letter-spacing.precedence"/>
    <xs:attribute name="letter-spacing.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="word-spacing"/>
    <xs:attribute name="word-spacing.minimum"/>
    <xs:attribute name="word-spacing.optimum"/>
    <xs:attribute name="word-spacing.maximum"/>
    <xs:attribute name="word-spacing.precedence"/>
    <xs:attribute name="word-spacing.conditionality">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retain"/>
          <xs:enumeration value="discard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="treat-as-word-space">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text-decoration" type="xs:NMTOKENS"/>
    <xs:attribute name="score-spaces">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text-shadow"/>
    <xs:attribute name="text-transform">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="capitalize"/>
          <xs:enumeration value="uppercase"/>
          <xs:enumeration value="lowercase"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="suppress-at-line-break">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="suppress"/>
          <xs:enumeration value="retain"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text-altitude"/>
    <xs:attribute name="text-depth"/>
    <xs:attribute name="glyph-orientation-horizontal">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
          <xs:enumeration value="-90"/>
          <xs:enumeration value="-180"/>
          <xs:enumeration value="-270"/>
          <xs:enumeration value="0deg"/>
          <xs:enumeration value="90deg"/>
          <xs:enumeration value="180deg"/>
          <xs:enumeration value="270deg"/>
          <xs:enumeration value="-90deg"/>
          <xs:enumeration value="-180deg"/>
          <xs:enumeration value="-270deg"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="glyph-orientation-vertical">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
          <xs:enumeration value="-90"/>
          <xs:enumeration value="-180"/>
          <xs:enumeration value="-270"/>
          <xs:enumeration value="0deg"/>
          <xs:enumeration value="90deg"/>
          <xs:enumeration value="180deg"/>
          <xs:enumeration value="270deg"/>
          <xs:enumeration value="-90deg"/>
          <xs:enumeration value="-180deg"/>
          <xs:enumeration value="-270deg"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="vst:font-properties"/>
    <xs:attributeGroup ref="vst:line-height-properties"/>
  </xs:attributeGroup>

  <!-- Common Keeps and Breaks Properties - Atomic objects -->
  <!-- 'page-break-*' shorthand properties are also included -->
  <xs:attributeGroup name="keeps-and-breaks-properties-atomic">
    <xs:attribute name="break-after">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="even-page"/>
          <xs:enumeration value="odd-page"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="break-before">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="even-page"/>
          <xs:enumeration value="odd-page"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="keep-with-next"/>
    <xs:attribute name="keep-with-next.within-line"/>
    <xs:attribute name="keep-with-next.within-column"/>
    <xs:attribute name="keep-with-next.within-page"/>
    <xs:attribute name="keep-with-previous"/>
    <xs:attribute name="keep-with-previous.within-line"/>
    <xs:attribute name="keep-with-previous.within-column"/>
    <xs:attribute name="keep-with-previous.within-page"/>
    <xs:attribute name="page-break-after">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="always"/>
          <xs:enumeration value="avoid"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="page-break-before">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="always"/>
          <xs:enumeration value="avoid"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Common Keeps and Breaks Properties - Inline -->
  <!-- 'page-break-inside' shorthand property is also included -->
  <xs:attributeGroup name="keeps-and-breaks-properties-inline">
    <xs:attributeGroup ref="vst:keeps-and-breaks-properties-atomic"/>
    <xs:attribute name="keep-together"/>
    <xs:attribute name="keep-together.within-line"/>
    <xs:attribute name="keep-together.within-column"/>
    <xs:attribute name="keep-together.within-page"/>
    <xs:attribute name="page-break-inside">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="avoid"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Common Keeps and Breaks Properties - Block -->
  <xs:attributeGroup name="keeps-and-breaks-properties-block">
    <xs:attributeGroup ref="vst:keeps-and-breaks-properties-inline"/>
    <xs:attribute name="orphans"/>
    <xs:attribute name="widows"/>
  </xs:attributeGroup>

  <!-- Leader and Rule Properties -->
  <xs:attributeGroup name="leader-properties">
    <xs:attribute name="leader-alignment">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="reference-area"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="leader-pattern">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="space"/>
          <xs:enumeration value="rule"/>
          <xs:enumeration value="dots"/>
          <xs:enumeration value="use-content"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="leader-pattern-width"/>
    <xs:attribute name="leader-length"/>
    <xs:attribute name="leader-length.minimum"/>
    <xs:attribute name="leader-length.optimum"/>
    <xs:attribute name="leader-length.maximum"/>
    <xs:attribute name="rule-style">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="double"/>
          <xs:enumeration value="groove"/>
          <xs:enumeration value="ridge"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rule-thickness"/>
  </xs:attributeGroup>

  <!-- Table Properties -->
  <!-- 'border-spacing' shorthand property is also included -->
  <!-- 'inherit' property added to table-omit-...er-at-break -->
  <xs:attributeGroup name="table-properties">
    <xs:attribute name="border-collapse">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="collapse"/>
          <xs:enumeration value="collapse-with-precedence"/>
          <xs:enumeration value="separate"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border-spacing"/>
    <xs:attribute name="border-separation"/>
    <xs:attribute name="border-separation.inline-progression-direction"/>
    <xs:attribute name="border-separation.block-progression-direction"/>
    <xs:attribute name="caption-side">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="empty-cells">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="show"/>
          <xs:enumeration value="hide"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="table-layout">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="fixed"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="table-omit-header-at-break">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="table-omit-footer-at-break">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- List Properties -->
  <xs:attributeGroup name="list-properties">
    <xs:attribute name="provisional-distance-between-starts"/>
    <xs:attribute name="provisional-label-separation"/>
  </xs:attributeGroup>

  <!-- Float Properties -->
  <xs:attributeGroup name="float-properties">
    <xs:attribute name="float">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="clear">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="intrusion-displace">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="line"/>
          <xs:enumeration value="indent"/>
          <xs:enumeration value="block"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- Visibility Properties -->
  <xs:attributeGroup name="visibility-properties">
    <xs:attribute name="visibility">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="visible"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="collapse"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="z-index"/>
  </xs:attributeGroup>

  <!-- =============================================================== -->
  <!-- Set of all inheritable properties. This includes attributes -->
  <!-- marked as inheritable in the spec, as well as all features that -->
  <!-- may assume a value of "inherit" (because all such features are -->
  <!-- also permitted at parent elements). By XSL design, this set -->
  <!-- comprises nearly all attributes. -->
  <!-- =============================================================== -->
  <xs:attributeGroup name="inheritable-properties">
    <xs:attribute name="color"/>
    <xs:attribute name="relative-align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="baseline"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="span">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="all"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="vst:accessibility-properties"/>
    <xs:attributeGroup ref="vst:absolute-or-relative-position-properties"/>
    <xs:attributeGroup ref="vst:border-padding-background-properties"/>
    <xs:attributeGroup ref="vst:border-precedence-properties"/>
    <xs:attributeGroup ref="vst:aural-properties"/>
    <xs:attributeGroup ref="vst:box-size-properties"/>
    <xs:attributeGroup ref="vst:margin-properties-inline"/>
    <xs:attributeGroup ref="vst:area-properties"/>
    <xs:attributeGroup ref="vst:area-alignment-properties-inline"/>
    <xs:attributeGroup ref="vst:character-properties"/>
    <xs:attributeGroup ref="vst:table-properties"/>
    <xs:attributeGroup ref="vst:list-properties"/>
    <xs:attributeGroup ref="vst:float-properties"/>
    <xs:attributeGroup ref="vst:line-related-properties"/>
    <xs:attributeGroup ref="vst:leader-properties"/>
    <xs:attributeGroup ref="vst:keeps-and-breaks-properties-block"/>
    <xs:attributeGroup ref="vst:hyphenation-properties-block"/>
    <xs:attributeGroup ref="vst:visibility-properties"/>
  </xs:attributeGroup>

  <!-- =============================================================== -->
  <!-- Common property subsets. -->
  <!-- =============================================================== -->
  <!-- Properties for every block that may contain text children -->
  <xs:attributeGroup name="block-properties">
    <xs:attribute name="id"/>
    <xs:attributeGroup ref="vst:inheritable-properties"/>
  </xs:attributeGroup>

  <!-- Properties for nonempty inline elements -->
  <xs:attributeGroup name="inline-properties">
    <xs:attribute name="id"/>
    <xs:attributeGroup ref="vst:inheritable-properties"/>
  </xs:attributeGroup>

  <!-- Properties for empty inline elements that contain characters -->
  <xs:attributeGroup name="empty-inline-properties">
    <xs:attribute name="id"/>
    <xs:attribute name="color"/>
    <xs:attributeGroup ref="vst:accessibility-properties"/>
    <xs:attributeGroup ref="vst:aural-properties"/>
    <xs:attributeGroup ref="vst:relative-position-properties"/>
    <xs:attributeGroup ref="vst:area-alignment-properties-inline"/>
    <xs:attributeGroup ref="vst:character-properties"/>
    <xs:attributeGroup ref="vst:border-padding-background-properties"/>
    <xs:attributeGroup ref="vst:hyphenation-properties-inline"/>
    <xs:attributeGroup ref="vst:visibility-properties"/>
  </xs:attributeGroup>

  <!-- Properties for graphical inline elements -->
  <xs:attributeGroup name="graphic-properties">
    <xs:attribute name="id"/>
    <xs:attribute name="content-type"/>
    <xs:attributeGroup ref="vst:accessibility-properties"/>
    <xs:attributeGroup ref="vst:relative-position-properties"/>
    <xs:attributeGroup ref="vst:aural-properties"/>
    <xs:attributeGroup ref="vst:border-padding-background-properties"/>
    <xs:attributeGroup ref="vst:margin-properties-inline"/>
    <xs:attributeGroup ref="vst:area-alignment-properties-inline"/>
    <xs:attributeGroup ref="vst:box-size-properties"/>
    <xs:attributeGroup ref="vst:font-properties"/>
    <xs:attributeGroup ref="vst:line-height-properties"/>
    <xs:attributeGroup ref="vst:keeps-and-breaks-properties-atomic"/>
    <xs:attribute name="content-height"/>
    <xs:attribute name="content-width"/>
    <xs:attribute name="display-align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="overflow">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="visible"/>
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="scroll"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="error-if-overflow"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="scaling">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uniform"/>
          <xs:enumeration value="non-uniform"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="scaling-method">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="integer-pixels"/>
          <xs:enumeration value="resample-any-method"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="text-align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

</xs:schema>
